In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
credits = pd.read_csv('credits_dataset.csv')
movies = pd.read_csv('movies_dataset.csv')

In [3]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
movies = movies.merge(credits, left_on = 'title', right_on = 'title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew', 'original_language', 'production_countries', 'tagline']]

In [8]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,original_language,production_countries,tagline
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",en,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",Enter the World of Pandora.

In [9]:
def convert(obj):
  L = []
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [10]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)
movies['cast'] = movies['cast'].apply(lambda x: [(i['character'], i['name']) for i in ast.literal_eval(x)][:5])
movies['crew'] = movies['crew'].apply(lambda x: [i['name'] for i in ast.literal_eval(x) if i['job'] == 'Director'])
movies['production_countries'] = movies['production_countries'].apply(convert)

In [11]:
print(movies['genres'])
print(movies['keywords'])
print(movies['cast'])
print(movies['crew'])
print(movies['production_countries'])

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4809, dtype: object
0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united states–mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4809, dtype: object
0       [(Jake Sully, Sam Worthington), (Neytiri, Zoe ...
1       [(Captain Jack Sparrow, Johnny Depp), (Will Tu...
2       [(James Bond, Daniel Craig), (Blofeld, Christo...
3       [(Bruce Wayne / Batman, Christian Bale), (Alfr...
4       [(John Carter, Taylor Kitsch), (Dejah Thoris, ...
                              ...
4804    [(El Mariachi, Carlos Gallardo), (Bigotón, Jai...
4805    [(Buzzy, Edward Burns), (Linda, Kerry Bishé), ...
4806    [(Oliver O’Toole, Eric Mabius), (Shane McInern...
4807    [(Sam, Daniel Henney), (Amanda, Eliza Coupe), ...
4808    [(Herself, Drew Barrymore), (Himself, Brian He...
Name: cast, Length: 4809, dtype: object
0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4804                          [Robert Rodriguez]
4805                              [Edward Burns]
4806                               [Scott Smith]
4807                               [Daniel Hsia]
4808    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4809, dtype: object
0       [United States of America, United Kingdom]
1                       [United States of America]
2       [United Kingdom, United States of America]
3                       [United States of America]
4                       [United States of America]
                           ...
4804            [Mexico, United States of America]
4805                                            []
4806                    [United States of America]
4807             [United States of America, China]
4808                    [United States of America]
Name: production_countries, Length: 4809, dtype: object

In [12]:
movies['cast'].head(1)

0    [(Jake Sully, Sam Worthington), (Neytiri, Zoe ...
Name: cast, dtype: object

In [13]:
movies['crew'].head(1)

0    [James Cameron]
Name: crew, dtype: object

In [14]:
movies['tag'] = movies['title'] + ' ' + movies['genres'].apply(lambda x: " ".join(x)) + movies['keywords'].apply(lambda x: " ".join(x)) + movies['cast'].apply(lambda x: " ".join(map(str, x))) + movies['crew'].apply(lambda x: " ".join(x)) + movies['production_countries'].apply(lambda x: " ".join(x))

In [15]:
movies['tag']

0       Avatar Action Adventure Fantasy Science Fictio...
1       Pirates of the Caribbean: At World's End Adven...
2       Spectre Action Adventure Crimespy based on nov...
3       The Dark Knight Rises Action Crime Drama Thril...
4       John Carter Action Adventure Science Fictionba...
                              ...
4804    El Mariachi Action Crime Thrillerunited states...
4805    Newlyweds Comedy Romance('Buzzy', 'Edward Burn...
4806    Signed, Sealed, Delivered Comedy Drama Romance...
4807    Shanghai Calling ('Sam', 'Daniel Henney') ('Am...
4808    My Date with Drew Documentaryobsession camcord...
Name: tag, Length: 4809, dtype: object

In [16]:
movies = movies[['movie_id', 'title', 'tagline', 'overview',  'original_language', 'tag']]

In [17]:
movies.head(1)

,movie_id,title,tagline,overview,original_language,tag
0,19995,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",en,Avatar Action Adventure Fantasy Science Fictio...

In [18]:
import nltk
import re
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt_tab')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Taha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Taha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Taha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [19]:
def clean_text(text):
  text = re.sub(r'[^\w\s]', '', text)
  tokens = nltk.word_tokenize(text.lower())
  tokens = [token for token in tokens if token not in stopwords.words('english')]
  lemmatizer = WordNetLemmatizer()
  tokens = [lemmatizer.lemmatize(token) for token in tokens]
  return ' '.join(tokens)

In [20]:
movies['tag'] = movies['tag'].apply(clean_text)

In [21]:
movies['title'] = movies['title'].apply(clean_text)

In [22]:
movies['tag']

0       avatar action adventure fantasy science fictio...
1       pirate caribbean world end adventure fantasy a...
2       spectre action adventure crimespy based novel ...
3       dark knight rise action crime drama thrillerdc...
4       john carter action adventure science fictionba...
                              ...
4804    el mariachi action crime thrillerunited states...
4805    newlywed comedy romancebuzzy edward burn linda...
4806    signed sealed delivered comedy drama romance t...
4807    shanghai calling sam daniel henney amanda eliz...
4808    date drew documentaryobsession camcorder crush...
Name: tag, Length: 4809, dtype: object

In [23]:
movies['title']

0                           avatar
1       pirate caribbean world end
2                          spectre
3                 dark knight rise
4                      john carter
                   ...
4804                   el mariachi
4805                      newlywed
4806       signed sealed delivered
4807              shanghai calling
4808                     date drew
Name: title, Length: 4809, dtype: object

In [24]:
movies.head()

,movie_id,title,tagline,overview,original_language,tag
0,19995,avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",en,avatar action adventure fantasy science fictio...
1,285,pirate caribbean world end,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",en,pirate caribbean world end adventure fantasy a...
2,206647,spectre,A Plan No One Escapes,A cryptic message from Bond’s past sends him o...,en,spectre action adventure crimespy based novel ...
3,49026,dark knight rise,The Legend Ends,Following the death of District Attorney Harve...,en,dark knight rise action crime drama thrillerdc...
4,49529,john carter,"Lost in our world, found in another.","John Carter is a war-weary, former military ca...",en,john carter action adventure science fictionba...

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['tag'])

In [26]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [27]:
def get_recommendations(title, cosine_sim=cosine_sim):
  title = clean_text(title)
  idx = movies[movies['title'] == title].index
  if len(idx) == 0:
    print(f"Movie '{title}' not found in the database.")
    return []
  idx = idx[0]
  sim_scores = list(enumerate(cosine_sim[idx]))
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  sim_scores = sim_scores[1:11]
  movie_indices = [i[0] for i in sim_scores]
  return movies['title'].iloc[movie_indices]

In [28]:
print(get_recommendations('SupermaN return'))

813                             superman
870                          superman ii
9         batman v superman dawn justice
1297                        superman iii
14                             man steel
2435             superman iv quest peace
64                       xmen apocalypse
4038                               super
38                   amazing spiderman 2
3859    batman dark knight return part 2
Name: title, dtype: object

In [29]:
def get_recommendations_by_keywords(keywords, cosine_sim=cosine_sim):

  keywords = clean_text(keywords) 
  keyword_vector = tfidf.transform([keywords])  

  sim_scores = cosine_similarity(keyword_vector, tfidf_matrix).flatten() 

  sim_scores = list(enumerate(sim_scores))
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  sim_scores = sim_scores[0:10]  

  movie_indices = [i[0] for i in sim_scores]
  return movies['title'].iloc[movie_indices]

In [30]:
recommendations = get_recommendations_by_keywords("captain thor")
print(recommendations)

7                   avenger age ultron
16                             avenger
126                    thor dark world
85      captain america winter soldier
169      captain america first avenger
17      pirate caribbean stranger tide
2156                       street king
818                   captain phillips
3537                          galaxina
3571                  20000 league sea
Name: title, dtype: object

In [31]:
import pickle
with open('movies.pkl', 'wb') as file:
  pickle.dump((movies, cosine_sim), file)

In [32]:
title_to_search = "X-Men: Apocalypse"
cleaned_title = clean_text(title_to_search)
movie_row = movies[movies['title'] == cleaned_title]
movie_row

,movie_id,title,tagline,overview,original_language,tag
64,246655,xmen apocalypse,Only the strong will survive,After the re-emergence of the world's first mu...,en,xmen apocalypse science fictionmutant supernat...

In [33]:
title_to_search = "Superman Return"
cleaned_title = clean_text(title_to_search)
movie_row = movies[movies['title'] == cleaned_title]
movie_row

,movie_id,title,tagline,overview,original_language,tag
10,1452,superman return,NaN,Superman returns to discover his 5-year absenc...,en,superman return adventure fantasy action scien...